<div class="login-container">
  <div class="login-card">
    <h2>Iniciar Sesión - SIGAF</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- CAMPO USUARIO -->
      <div class="form-group">
        <label>Usuario</label>
        <div class="input-addon-group">
          <input 
            type="text" 
            formControlName="usuario" 
            placeholder="ej. diego"
            [class.is-invalid]="esCampoInvalido('usuario')"
          >
          <span class="addon">@sigaf.com</span>
        </div>

        <!-- MENSAJE INDIVIDUAL DE USUARIO -->
        <small class="error-text" *ngIf="esCampoInvalido('usuario')">
          Ingresa tu nombre de usuario.
        </small>
      </div>

      <!-- CAMPO CONTRASEÑA -->
<div class="form-group">
  <label>Contraseña</label>
  <div class="password-wrapper">
    <input 
      [type]="mostrarPassword ? 'text' : 'password'" 
      formControlName="password" 
      placeholder="Ingresa tu contraseña"
      [class.is-invalid]="esCampoInvalido('password')"
    >
    <button type="button" class="btn-eye" (click)="toggleMostrarPassword()" tabindex="-1">
      <svg *ngIf="!mostrarPassword" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
        <circle cx="12" cy="12" r="3"></circle>
      </svg>
      <svg *ngIf="mostrarPassword" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"></path>
        <line x1="1" y1="1" x2="23" y2="23"></line>
      </svg>
    </button>
  </div>

  <small class="error-text" *ngIf="esCampoInvalido('password')">
    <span *ngIf="loginForm.get('password')?.errors?.['required']">
      La contraseña es obligatoria.
    </span>
    <span *ngIf="loginForm.get('password')?.errors?.['minlength']">
      Debe tener al menos 4 caracteres.
    </span>
  </small>
</div>

      <button type="submit">Entrar</button>

      <!-- MENSAJE GENERAL (Solo para errores del servidor) -->
      <div class="error-text-general" *ngIf="mensajeGeneral">
        {{ mensajeGeneral }}
      </div>
    </form>
  </div>
</div>